// Default variables
html {
  --base-font-size: 20px;
}

// Light default theme
body {
  --color1: rgba(255, 255, 255, 1);
  --color2: rgba(232, 232, 232, 1);
  --color3: rgba(191, 191, 191, 1);
  --color4: rgba(155, 147, 147, 1);
  --color5: rgba(51, 51, 51, 1);

  --bg-color: var(--color1);
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: var(--color5);
  --title-color: #111;
  --link-color: var(--color5);
  --border-color: rgba(0, 0, 0, 0.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
  --font-size--jumbo: 4em;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }

  body {
    --space: 1.5rem;
    --header-height: 60px;
    --font-size--jumbo: 2em;
  }
}
